//global

body{
	background-color:rgb(41, 34, 139);
	@include breakpoint($small){
		background-image: url("img/background-2.png"),url("img/background-2.png");
		background-repeat: no-repeat,no-repeat;
		background-position: left top,center;
		background-size:100% auto;
	}

	@include breakpoint($tablet-landscape-bp){
		background-image: url("img/background.png");
		background-repeat: no-repeat;
		background-position: center top;


	}

}

//header

#header{
	height: 100px;
	max-width:100%;
	width:100%;
	margin: 0 auto;
	text-align: center;
}

#logo-container{
	@include span(1 of 3);
	height:100px;
	@include breakpoint($tablet-bp){
		float: left;
		
	}

	@include breakpoint($start){
		margin: 0 auto;
	}
}

#about-us-1{
	@include breakpoint($tablet-bp){
		width:10%;
		display:block;
	float: right;
	margin-top: 20px;
	margin-right:20px;
	}

	@include breakpoint($start){
		display: none;
	}
}
#about-us-2{
	@extend #about-us-1;
	@include breakpoint($tablet-bp){
		width: 20%;
	}

	@include breakpoint($start){
		display: none;
	}
}

//section 1

.section-1{
	@include breakpoint($tablet-bp){
		width: 760px;
		height: 600px;
	}

	@include breakpoint($start){
		width:90%;
		height: 900px;
	}
	margin: 0 auto;
}


.title-rule{
	width:100px;
	height: 5px;
	background-color: blue;
	text-align: left;
	margin: 20px 0;
}

.title-1{
	width: 95%;
	text-align: left;
	height: 150px;
}



#text-container-1-mobile{
	@include breakpoint($tablet-bp){
		display: none;
	}
	@include breakpoint($start){
		width:95%;
		height:500px;
	}
	float:left;
	margin: 0 0;
	margin-right:50px;
}

#text-container-1-desktop{
	@include breakpoint($tablet-bp){
		@include span (4 of 9);
		height: 500px;
	}
	@include breakpoint($start){
		display: none;
	}
	float:left;
	margin: 0 0;
	margin-right:50px;
}


.paragraph-container{
	width: 95%;
	height: 120px;
	margin: 15px 0px;
	text-align: left;
	font-weight: bold;
}



.download-links-container{
	width:280px;
	height: 45px;
	text-align: center;
	margin: 0 0;
	margin-top: 40px;
	margin-left: 0px;
}

.app-store-link{
	float: left;

}

.google-play-link{
	float:right;

}

.phone-img-container{
	@include breakpoint($tablet-bp){
		@include span (4 of 9);
		height: 600px;
	}
	@include breakpoint($start){
		@include span (8 of 9);
		height: 450px;
	}
	margin: 0px 0px;
	text-align: center;
	margin-left:50px;
}

.phone-img{
	width: 80%;
	height: 80%;
	margin: 10% auto;
}

//section 2

.section-2{
	@extend .section-1;
	height: 700px;
	margin: 0 auto;
}

.title-2{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}


.text-container-2{
	display:block;
	float:left;
	height: 300px;
	@include breakpoint($tablet-bp){
		margin-top:100px;
		width:400px;
	}
	@include breakpoint($start){
		width:95%;
		margin-top:10px;
	}
}

.phone-img-container-2{
	@extend .phone-img-container;
	@include breakpoint($tablet-bp){
		float: right;
	}
	@include breakpoint($start){
		margin: 0 auto;
	}
}

//section 3

.section-3{
	@extend .section-1;
	height: 800px;
}

#text-container-3{
	@include breakpoint($tablet-bp){
	width:760px;
	}
	@include breakpoint($start){
		width:95%;
	}
}

#improve-ways{
	@include breakpoint($tablet-bp){
		width: 760px;
		height: 400px;
	}

	@include breakpoint($start){
		width:95%;
		height:auto;
	}
	margin: 0 0;

}

.ways-block{
	float: left;
	width:180px;
	margin: 0 0;
	height: 200px;
	padding-right: 10px;
}


.block-title-rule{
	width: 35px;
	height: 3px;
	margin-left: 0px;
}

.block-discription{
	height: 80px;
}


//section-4
.section-4{
	@extend .section-1;
	margin-top:20px;
	margin:0 auto;
	height: 700px;
}



#text-container-4{
	display:block;
	@include breakpoint($tablet-bp){
		width:45%;
		margin: 0 2%;
	}
	@include breakpoint($start){
		width:90%;
		margin: 0 3%;
	}
	height: 300px;
	float:left;
}

#title-4{
	@include breakpoint($tablet-bp){
		width:95%;
	}
	@include breakpoint($start){
		width:90%;
	}
}

#video-container{
	@include breakpoint($tablet-bp){
		width:45%;
		margin: 0 2%;
	}
	@include breakpoint($start){
		width:90%;
		margin: 0 3%;
	}
	height: 300px;
	float:right;
	margin-right: 5%;
}

.paragraph-container-2{
	width: 45%;
	height: 120px;
	margin: 0px 0px;
	margin-right:5%;
	text-align: left;
	font-weight: bold;
}

#video{
	@include breakpoint($start){
		width:100%;
	}
	@include breakpoint($tablet-bp){
		width: 45%;
		height: 280px;
	}
	background-image:url("img/section_4_pic.png");
	background-size:100% 100%;
	margin: 0 0;
}


//section 5
.section-5{
	@include breakpoint($start){
		width:100%;
	}
	@include breakpoint($tablet-bp){
		width: 760px;
	}
	height: 400px;
	background-image:url("img/pattern.png");
	margin: 0 auto;

}


#title-5-desktop{
	display:block;
	margin:0 auto;
	margin-top: 150px;
	text-align: center;
	@include breakpoint($tablet-bp){
		width: 500px;
	}
	@include breakpoint($start){
		width: 95%;
	}
}


.title-rule-center{
	width:100px;
	height: 5px;
	background-color: blue;
	text-align: center;
	margin: 20px auto;
}



#paragraph-container-5-desktop{

	@include breakpoint($tablet-bp){
		width:500px;
	}
	@include breakpoint($start){
		width: 90%;
	}
	height: 120px;
	margin: 15px auto;
	text-align: center;
	font-weight: bold;
	display:block;
}

//contact section
.contact{
	@include breakpoint($start){
		width: 95%;
	}
	@include breakpoint($tablet-bp){
		width:760px;
	}
	margin: 0 auto;
	margin-top:150px;
	display: block;
}



#title-contact{
	display: block;
}

.input-box{
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color:transparent;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	@include breakpoint($start){
		height:50px;
	    width:90%;
	    font-size: 30px;
	    margin-bottom: 15px;
	    margin-right: 0 auto;
	}
	@include breakpoint($tablet-bp){
		height:50px;
		width:50%;
		font-size: 30px;
		margin-bottom: 20px;
		margin-right: 50%;
	}
}


.submit-button{
	background-color: rgb(54, 54, 54);
	border: none;
	color: white;
	padding: 25px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px 2px;
	cursor: pointer;
	margin-top:30px;
	margin-bottom: 50px;
}


//footer

#footer{
	@include breakpoint($tablet-bp){
		height:250px;
	}
	@include breakpoint($start){
		height:400px;
	}
	position:relative;
	width:100%;
	height:250px;
	background-color:black;
}

#footer-left{
	position:absolute;
	@include breakpoint($tablet-bp){
		top:60px;
		left:50px;
		height:200px;
		width:50%;
	}
	@include breakpoint($start){
		top:30px;
		left: 20px;
		height: 300px;
		width:90%;
	}
}

#footer-left-title{
	color:white;
	position:absolute;
	left:10px;
	font-size: 25px;
	margin: 0 0;
}

#footer-left-text{
	position:absolute;
	left:101px;
	bottom:60px;
	color:white;
	margin:0;
	line-height: 5px;

}

#footer-left-acorn{
	margin-top:90px;
	font-size: 30px;
}

#footer-left-slogan{
	font-size: 15px;
}

#acron-logo{
	position:absolute;
	bottom:20px;
	left:0px;
	display: block;
	width: auto;
	height: auto;
	@include breakpoint($tablet-bp){
		display: block;
	}
	@include breakpoint($start){
		display:none;
	}
}

#footer-right{
	float: right;;
	width:40%;
	right:10px;
	color: white;
	left: auto;
	margin-top:220px;
	font-size:15;
}
