

	$h4-colour: #6D91B1;

	// Typi declarations
	@import '../typi/scss/typi';
	@import url('https://fonts.googleapis.com/css?family=Lobster');

	html {
		font-size: 14pt !important;
	}

	$breakpoints: (
	  small: 1px,
	  medium: 750px,
	  large: 1200px,
	);

	$typi: (
	  null: (16px, 1.4),
	  small: 26px,
	  medium: 26px,
	  large: 26px
	);

	$h1-map: (
	  null: (3em, 1.05),
	  small: (1.3em, 1.5),
	  medium: (1.75em, 1.5),
	  large: (2em, 1.5)
	  );

	$h2-map: (
	  null: (2.25em, 1.25),
	  small: (1.2em, 1.0),
	  medium: (1.5em, 1.25),
	  large: (1.75em, 1.25)
	  );

	$h3-map: (
	  null: (1.375em, 1.136),
	  small: (1.1em, 1.0),
	  medium: (1.3em, 1.25),
	  large: (1.5em, 1.125)
	  );


	$h4-map: (
	  null: (1.125em, 1.222),
	  small: (0.75em, 1.5),
	  medium: (1.1em, 1.5),
	  large: (1.4em, 1.5)
		);
		
		$h5-map: (
			null: (1.125em, 1.222),
			small: (0.60em, 1.5),
			medium: (0.9em, 1.222),
			large: (0.9em, 1.5)
			);

	$p-map: (
	  null: (1em, 1.4),
	  small: (0.8em, 1.5),
	  medium: (1.1em, 1.4),
	  large: (1.5em, 1.4)
		);
		
		$h6-map: (
			null: (1em, 1.4),
			small: (0.95em, 1.5),
			medium: (1em, 1.4),
			large: (1em, 1.4)
			);

	h1 { @include typi($h1-map)}
	h2 { @include typi($h2-map)}
	h3 { @include typi($h3-map)}
	h4 { @include typi($h4-map) }
	h5 { @include typi($h5-map) }
	h6 { @include typi($h6-map) }
	p { @include typi($p-map) }
	a { @include typi($p-map) }

	html {
		@include typi-base();
	}

	/* Typeface Declarations */
	$main-regular-typeface: 'Karma';
	$secondary-regular-typeface: 'Open Sans';

	h1, h3, h4, h6 {
		//font-family: $main-regular-typeface;
		color:white;
	}

	h2,h5{
		color:rgb(127, 238, 177);
	}

	p, a {
		font-family: $secondary-regular-typeface;
		color:white;
	}
	p,h1,h2,h3,h4,h6{
		font-weight: lighter;
	}


	h2{

		margin:0 0;
	}

	h3 {
		margin-bottom: 15px;
	}
	h4 {
		
		margin:0 0;
	}

	h5,h6{

		margin:0 0;
	}

	a, a > * {
		font-family: $main-regular-typeface !important;
		color: white !important; 
	}